.root {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.header {
  display: flex;
  height: 48px;
  padding: 0 20px;
  align-items: center;
  justify-content: space-between;
  z-index: 999;
}
.wrapper {
  /* flex: 1; */
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 10px;
  background-color: rgb(245,245,245);
  border:5px solid #dedede;
  margin: 0 10px;
}
.tree {
  top: -210px;
}
.reset {
  position: absolute;
  right: 10px;
  top: 60px;
  padding: 4px 10px;
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;
  line-height: 1;
  cursor: pointer;
}
.button {
  margin-bottom: 10px !important;
  font-size: 0.775rem !important;
}

.ADDED_CLASS > div:first-child {
  transform: translate(77.2535px, 182px) scale(1)!important;
}

.Sandora-Gentile > div:first-child {
  background-color: rgb(226, 8, 8);
  transform: translate(77.2535px, 182px) scale(1);
}
.Sandora-Lucatuorto > div:first-child {
  background-color: rgb(226, 8, 8);
}
.Sandora-Scott > div:first-child {
  background-color: rgb(226, 8, 8);
}
.Sandora-Periera > div:first-child {
  background-color: rgb(226, 8, 8);
}